<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offtube | Youtube Video Downloader</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>

    <div class="header">Offtube | Youtube Video Downloader</div>

    <div class="form">
        <div class="form-element">
            <label for="videoURL">Enter Video URL</label>
            <input type="text" id="videoURL">
        </div>
        <div class="form-element">
            <button id="getVideoInfoButton">Get Video</button>
        </div>
    </div>

    <div class="videoData">
        <div class="data">
            <div class="thumbnail">
                <img src=""
                    alt="">
            </div>
            <div class="info">
                <h1></h1>
                <p> </p>
            </div>
            <div class="controls">
                <input type="hidden" id="video-URL">
                <select name="" id="downloadOptions"></select>
                <button id="downloadButton">Download</button>
            </div>
        </div>
    </div>
</body>
<script src="./scripts/script.js"></script>

</html>